<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    {% if page.header.overlay_image %}
      <div class="banner" style="
        background: linear-gradient({{ page.header.overlay_filter | default: 'rgba(0,0,0,0.5)' }}, {{ page.header.overlay_filter | default: 'rgba(0,0,0,0.5)' }}), 
        url('{{ page.header.overlay_image }}') center/cover no-repeat;
        height: 300px;
        margin-bottom: 2rem;
      "><div class="title">{{ page.title }}</div></div>
    {% endif %}

    <main>
      <a href="/">[back]</a>

      {{ content }}

      <a href="/">[back]</a>
    </main>
  </body>
</html>

